DJANGO_SECRET_KEY=
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Asia/Tokyo
API_KEY=
VAPID_PUBLIC_KEY=（Public Key）
VAPID_PRIVATE_KEY=（Private Key）
VAPID_SUBJECT=mailto:you@example.com
RESCUE72_TOKEN_SECRET=
BASE_URL=http://127.0.0.1:8000